.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  transition: background-color 0.3s, color 0.3s;
}

.Name-Text 
{
  font-size: calc(20px + 2vmin);
}

.App-link {
  color: #55daff;
}

.button {
  background-color: #009c05;
  border: none;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 6px;
}

@keyframes SpinAnim {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@keyframes ReverseSpinAnim {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

:root {
  --SquareSize: 400px;
}

@keyframes Square-Move {
  0% {
    transform: translateX(0) translateY(0);
  }
  12.5% {
    transform: translateX(calc(var(--SquareSize) / 2)) translateY(0);
  }
  37.5% {
    transform: translateX(calc(var(--SquareSize) / 2)) translateY(calc(-1 * var(--SquareSize)));
  }
  62.5% {
    transform: translateX(calc(-1 * var(--SquareSize) / 2)) translateY(calc(-1 * var(--SquareSize)));
  }
  87.5% {
    transform: translateX(calc(-1 * var(--SquareSize) / 2)) translateY(0);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

@keyframes rainbowText {
  0%   { color: red; }
  14%  { color: orange; }
  28%  { color: yellow; }
  42%  { color: green; }
  57%  { color: blue; }
  71%  { color: indigo; }
  85%  { color: violet; }
  100% { color: red; }
}


.squareMove {
  pointer-events: none;
  animation: Square-Move infinite 5s linear;
}

.squareMove2{
  pointer-events: none;
  animation: Square-Move infinite 3s linear;
}

.rainbow{
  animation: rainbowText 3s linear infinite;
}

.rainbowFast{
  animation: rainbowText 2s linear infinite;
}

.spin {
  pointer-events: none;
  animation: SpinAnim infinite 1s linear;
}

.rspin {
  pointer-events: none;
  animation: ReverseSpinAnim infinite 1s linear;
}

.normal {
  color: white;
}
/* Theme modes */
.light {
  background-color: #ffffff;
  color: #000000;
}

.dark {
  background-color: #121212;
  color: #ffffff;
}

.App-header {
  transition: background-color 0.3s, color 0.3s;
}
.dark .App-header {
  background-color: #121212;
  color: white;
}

.light .App-header {
  background-color: #ffffff;
  color: black;
}
.text-hover {
  transition: 0.3s ease;
}
.text-hover:hover {
  transform: scale(1.1);
  color: #00ffff;
  text-shadow: 0 0 10px #00ffff;
}
